listen: {{ vpn_port }}
peers:
{% for node in nodes %}
{% if (node_info.name != node.name) %}
  - {{ node.domain }}:{{ node.vpn_port | default(default_vpn_port) }}
{% endif %}
{% endfor %}
peer-timeout: 300
switch-timeout: 300
crypto:
  private-key: {{ vpncloud_private_key }}
  public-key: {{ vpncloud_public_key }}
  trusted-keys:
{% for key in vpncloud_public_keys %}
{% if (key != vpncloud_public_key ) %}
    - {{ key }}
{% endif %}
{% endfor %}

device:
  name: "vpncloud%d"
  type: {{ node_info.vpn_options.device.type | default('tun') }}
  fix-rp-filter: {{ node_info.vpn_options.device.fix_rp_iflter | default('true') }}
mode: normal
auto-claim: {{ node_info.vpn_options.auto_claim | default('true') }}
ip: "{{ node_info.private_ip }}"
